extends ../layout

block main
	ul.breadcrumb
		li
			i.icon-home
		li
			i.icon-angle-right
		li
			a(href="/") 面板


	div(class="row-fluid sortable")
		div(class="box span12")
			div(class="box-header", data-original-title)
				h2
					i(class="halflings-icon user")
					span.break
					| 消息

			div.box-content
				table(class="table table-striped table-bordered bootstrap-datatable datatable")
					thead
						tr
							th 接收人
							th 标题
							th 内容
							th 附件
							th 数量
							th 状态
							th 
					tbody
						- var states = ['未读', '已经领取', '已经删除'];
						- each message in messages
							tr
								td= message.get('customer_id')
								td= message.get('title')
								td= message.get('content')
								td= message.get('attach_category')
								td= message.get('attach_quantity')
								td= states[message.get('state')]
