extends ../layout

block main
	ul.breadcrumb
		li
			i.icon-home
		li
			i.icon-angle-right
		li
			a(href="/") 面板


	div(class="row-fluid sortable")
		div(class="box span12")
			div(class="box-header", data-original-title)
				h2
					i(class="halflings-icon user")
					span.break
					| 订单

			div.box-content
				table(class="table table-striped table-bordered bootstrap-datatable datatable")
					thead
						tr
							th 时间
							th 单号
							th 玩家
							th 现金
							th 商品
							th 渠道
							th 状态
					tbody
						- var states = ['初始', '成功', '失败']
						- each order in orders
							tr
								td= moment(order.updatedAt).format('LLL')
								td= order.id
								td
									a(href="/customers/#{order.get('customer_id')}", target="_blank") #{order.get('customer_id')}
								td= order.get('price')
								td= order.get('product')
								td= order.get('channel')
								td= states[order.get('state')]
