extends ../layout

block main
	ul.breadcrumb
		li
			i.icon-home
		li
			i.icon-angle-right
		li
			a(href="/") 面板


	div(class="row-fluid sortable")
		div(class="box span12")
			div(class="box-header", data-original-title)
				h2
					i(class="halflings-icon user")
					span.break
					| 用户
				div.box-icon
					a(href="/customers/new" class="btn-setting")
						i(class="halflings-icon plus")

			div.box-content
				table(class="table table-striped table-bordered bootstrap-datatable datatable")
					thead
						tr
							th 头像
							th 姓名
							th 编号
							th 性别
							th 电话
							th 微信
							th 状态
							th 操作
					tbody
						- var genders = ['男', '女'];
						- var states = ['激活', '静止'];
						- var levels = ["预备艺人", "普通艺人", "签约艺人", "明星艺人"];
						- each customer in customers
							tr
								td
									img(src="/medias/#{customer.get('avatar_id')}", width=50, height=50)
								td
									a(href="/customers/#{customer.id}") #{customer.get('name')}
								td= customer.get('identity')
								td= genders[customer.get('gender') - 1]
								td= customer.get('mobile')
								td= customer.get('wechat')
								td= states[customer.get('blocked')]
								td.center
									a(class="btn btn-info", href="/customers/#{customer.id}/edit")
										i(class="halflings-icon white edit")
