extends ../layout

block main
	ul.breadcrumb
		li
			i.icon-home
		li
			i.icon-angle-right
		li
			a(href="/") 面板


	div(class="row-fluid sortable")
		div(class="box span12")
			div(class="box-header", data-original-title)
				h2
					i(class="halflings-icon user")
					span.break
					| 玩家

			div.box-content
				table(class="table table-striped table-bordered bootstrap-datatable datatable")
					thead
						tr
							th id
							th 头像
							th 姓名
							th 奖章
							th 充值
							th vip
							th 秒产
							th 上次登录
					tbody
						- each customer in customers
							tr
								td= customer.id
								td
									img(src="#{customer.get('avatar')}", width=50, height=50)
								td
									a(href="/customers/#{customer.id}") #{customer.get('name')}
								td= customer.get('metal')
								td= customer.get('charge')
								td= customer.get('vip')
								td= customer.get('output')
								td= customer.get('last_login')
